[submodule "Vendor/DirectX-Headers"]
	path = Vendor/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Vendor/DirectXTex"]
	path = Vendor/DirectXTex
	url = git@github.com:microsoft/DirectXTex.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = git@github.com:gabime/spdlog.git
